<div class="content" role="main">
    <h2>Data sharing using query parameters</h2>
    <p>Detail Page.</p>
    <br><br>
    <div class="card-container">
      <span> Name: {{studentDetail[id].name}} </span>
    </div>
    <div class="card-container">
      <span> Hostel Name: {{studentDetail[id].hostel}}  </span>
    </div>
    <div class="card-container">
      <span> College:  {{studentDetail[id].college}}</span> 
    </div>
    <div class="card-container">
      <span> Team:  {{studentDetail[id].team}}</span>
    </div>
    <div class="card-container">
      <span> Specialization:  {{studentDetail[id].specialization}}</span>
    </div>
    <div class="card-container">
      <span> Famous for: {{studentDetail[id].knownFor}}</span>
    </div>
  </div>
